@import url(../../node_modules/jquery-ui-dist/jquery-ui.css);
html, body {
  padding: 0px;
  margin: 0px;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.load {
  -webkit-animation: slide 1s;
  animation: slide 1s;
}

.slider {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  -webkit-animation: slide 35s infinite;
  animation: slide 35s infinite;
}

.hide-bg {
  -webkit-animation: unset;
  animation: unset;
}

.content {
  color: #fff;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.85);
}

.principal {
  left: 50%;
  top: 10%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  letter-spacing: 1px;
  text-align: center;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: #1db16b;
}

@-webkit-keyframes slide {
  0% {
    background-image: url("../img/The_Flash.jpg");
  }
  20% {
    background-image: url("../img/Black_Mirror.jpg");
  }
  40% {
    background-image: url("../img/Breaking_Bad.jpg");
  }
  60% {
    background-image: url("../img/Walking_Dead.jpg");
  }
  80% {
    background-image: url("../img/Black_Mirror.jpg");
  }
  100% {
    background-image: url("../img/Game_of_Thrones.jpg");
  }
}

@keyframes slide {
  0% {
    background-image: url("../img/The_Flash.jpg");
  }
  20% {
    background-image: url("../img/Black_Mirror.jpg");
  }
  40% {
    background-image: url("../img/Breaking_Bad.jpg");
  }
  60% {
    background-image: url("../img/Walking_Dead.jpg");
  }
  80% {
    background-image: url("../img/Black_Mirror.jpg");
  }
  100% {
    background-image: url("../img/Game_of_Thrones.jpg");
  }
}

form {
  position: relative;
  top: 22%;
  margin: auto;
  text-align: center;
}

input[type="text"] {
  width: 55%;
  padding-right: 130px;
  margin: 20px 4px;
  background: transparent;
  border: 0px solid transparent;
  border-bottom: 2px solid #1db16b;
  font-size: 50px;
  letter-spacing: 1px;
  color: #1db16b;
}

input[type="text"]:focus {
  outline: none;
}

input[type="text"]::-webkit-input-placeholder {
  color: #1db16b;
}

input[type="text"]:-ms-input-placeholder {
  color: #1db16b;
}

input[type="text"]::-ms-input-placeholder {
  color: #1db16b;
}

input[type="text"]::placeholder {
  color: #1db16b;
}

input[type="submit"] {
  margin-left: 40px;
  background-color: transparent;
  border-radius: 17px;
  border: 2px solid #1db16b;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  padding: 12px 24px;
  -webkit-transition: all 0.6s cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 0.6s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.6s cubic-bezier(0.42, 0, 0.58, 1);
}

input[type="submit"]:hover {
  color: #000 !important;
  background-color: #1db16b;
  text-shadow: nthree;
  cursor: pointer;
}

h2 {
  color: #fff;
  position: absolute;
  top: 55%;
  display: inline-block;
  font-size: 40px;
  left: 12.5%;
  font-family: "Roboto", sans-serif;
}

h2:after {
  display: block;
  content: '';
  border-bottom: solid 3px #1db16b;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0% 50%;
  -ms-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  -o-transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

h2:hover:after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.card {
  position: absolute;
  top: 65%;
  left: 15%;
  width: 9%;
  height: auto;
  overflow: hidden;
  -webkit-transition: all 0.8s cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 0.8s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.8s cubic-bezier(0.42, 0, 0.58, 1);
}

.card :hover {
  border-radius: 20px;
}

/*img {
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
  transition: all 0.8s cubic-bezier(0.42,0,0.58,1);
  :hover {
    transform: scale(1.05);
    border-radius: 10px;
    opacity: 0.7;
  }
}
*/
ul#output {
  margin: auto;
  text-align: center;
  width: 80%;
}

ul#output li {
  list-style: none;
  display: inline;
  padding: 5px;
}

ul#output p {
  width: 180px;
  margin: 0;
  text-align: center;
}

#ui-id-1 {
  background-color: transparent;
  border: none;
}

.ui-menu-item a {
  line-height: 50px;
  font-size: 25px;
  color: #737373;
}

.ui-menu-item a:hover {
  color: #1db16b;
  background-color: transparent;
  border: none;
}

.ui-menu-item a:focus {
  background-color: transparent;
  border: none;
}

.ui-button.ui-state-active:hover {
  border: none !important;
  background-color: transparent !important;
}
